# Auto detect text files and perform LF normalization
*.dart linguist-language=Dart
lib/* linguist-language=Dart       # If your Dart code is in the 'lib' directory
test/* linguist-language=Dart      # If you have Dart tests
pubspec.yaml linguist-language=YAML # Explicitly set YAML for pubspec.yaml
