* linguist-language=Dart
*.dart linguist-language=Dart
lib/* linguist-language=Dart
android/app/src/main/kotlin/* linguist-language=Kotlin  # Explicitly mark Kotlin
ios/* linguist-language=Swift # Explicitly mark Swift
*.yaml linguist-language=YAML # For pubspec.yaml
CMakeLists.txt linguist-language=CMake
.gitignore linguist-language=gitignore
build/* linguist-language= # Exclude the build directory
